* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.template {
    display: none;
}

.bg-top {
    height: 15vh;
    width: 100%;
    background-color: #009688;
}
.bg-bottom {
    height: 85vh;
    width: 100%;
    background-color: #dadbd3;
}

.container {
    width: 72%;
    height: 96%;
    margin: auto;
    position: fixed;
    top: 2%;
    left: 14%;
    display: flex;
}

.left-box {
    width: 30%;
    background-color: #f7f7f7;
}

.container-left {
    height: calc(100% - 120px);
    overflow-y: scroll;
    overflow-x: hidden;
    /* border-top: 2px solid #f7f7f7; */
}

/* scrollbar di prova */
.container-left::-webkit-scrollbar {
    width: 8px;
}
.container-left {
    scrollbar-width: thin;
    scrollbar-color: white;
}
.container-left::-webkit-scrollbar-track {
    background: #ffffff;
}
.container-left::-webkit-scrollbar-thumb {
    background-color: #67757c42;
    /* border-radius: 6px; */
    border: 1px solid #cfd8dc;
}
/* -------------- */
.header-left {
    height: 120px;
    width: 100%;
}

.header-left-top {
    height: 60px;
    width: 100%;
    background-color: #ededed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    color: rgb(145, 145, 145);
    position: relative;
}

.matrix-menu {
    position: absolute;
    background-color: rgb(189, 187, 187);
    color: white;
    top: 60px;
    right: 0;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    display: none;
}

.matrix-menu h3 {
    padding: 10px;
    border-radius: 10px;
}

.matrix-menu h3.modded:hover {
    background-color: rgb(71, 224, 71);
    color: black;
    border-radius: 0 0 10px 10px;
}
.matrix-menu h3.normal:hover {
    background-color: pink;
    color: black;
    border-radius: 10px 10px 0 0;
}

.hlt-right i {
    padding: 0 15px;
    cursor: pointer;
}

.header-img {
    width: 40px;
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.37);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(128, 128, 128, 0.438);
}

.header-left-top img {
    height: 30px;
    width: 30px;
    background-color: rgba(128, 128, 128, 0.438);
    cursor: pointer;
    border-radius: 100%;
}
.header-left-bottom {
    height: 60px;
    width: 100%;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}

.header-left-bottom input {
    height: 35px;
    width: 100%;
    border: 1px solid white;
    border-right: none;
    border-left: none;
    font: 14px arial, sans-serif;
    outline: none;
    padding-left: 20px;
}

.header-left-bottom .search-left,
.header-left-bottom .search-right {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    border: 1px solid white;
    background-color: white;
    color: rgb(145, 145, 145);
}

.header-left-bottom .search-center {
    width: 100%;
}

.header-left-bottom .search-left {
    border-radius: 50% 0 0 50%;
    border-right: none;
}

.header-left-bottom .search-right {
    border-radius: 0 50% 50% 0;
    border-left: none;
}

.user-box {
    height: 70px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    background-color: white;
    cursor: pointer;
}

.user-box:hover {
    background-color: rgba(128, 128, 128, 0.2);
}

.user-img {
    border: 1px solid rgba(128, 128, 128, 0.253);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    margin-right: 15px;
}

.user-img img {
    height: 40px;
    border-radius: 50%;
}

.user-info {
    width: calc(100% - 70px);
    padding: 10px 0;
    border-bottom: 1px solid rgba(128, 128, 128, 0.13);
}

.name {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name div:first-child {
    font-size: 22px;
}
.name span {
    font-size: 10px;
    color: rgba(128, 128, 128, 0.438);
    text-align: right;
}

.message {
    color: rgba(128, 128, 128, 0.829);
    max-width: 80%;
    height: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.right-box {
    width: 70%;
    height: 100%;
}

.header-right {
    height: 60px;
    width: 100%;
    background-color: #ededed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-left: 1px solid rgba(128, 128, 128, 0.123);
}

.header-right .user-info {
    height: 60px;
    width: 70%;
    padding: 10px;
}

.header-right .name div:first-child {
    font-size: 20px;
}
.header-right .message {
    font-size: 12px;
}

.header-right .user-img {
    width: 40px;
    height: 40px;
}

.header-right .user-img img {
    width: 30px;
    height: 30px;
}

.icon-box {
    width: 15%;
    display: flex;
    justify-content: flex-end;
}

.icon-box i {
    margin: 0 15px;
    cursor: pointer;
    color: rgb(145, 145, 145);
}

.body-right {
    height: calc(100% - 120px);
    width: 100%;
    background-image: url(img/wallpaper.jpg);
    background-size: contain;
    overflow-y: scroll;
    display: none;
}

.body-right.active {
    display: block;
}

/* scrollbar di prova */
.body-right::-webkit-scrollbar {
    width: 8px;
}
.body-right {
    scrollbar-width: thin;
    scrollbar-color: white;
}
.body-right::-webkit-scrollbar-track {
    background: transparent;
}
.body-right::-webkit-scrollbar-thumb {
    background-color: #67757c42;
    /* border-radius: 6px; */
    border: 1px solid #cfd8dc;
}
/* -------------- */

.body-right {
    padding: 5%;
}

.body-message {
    max-width: 70%;
    padding: 10px 40px 10px 10px;
    background-color: #daf3c5;
    color: rgb(71, 71, 71);
    border-radius: 10px 0 10px 10px;
    margin-bottom: 10px;
    float: right;
    clear: both;
    position: relative;
    font-size: 14px;
}

.body-message::after {
    content: "";
    display: table;
    clear: both;
}

.body-message .destroy-actions {
    position: absolute;
    right: 1px;
    top: 20px;
    width: 142px;
    background-color: whitesmoke;
    display: none;
    z-index: 111;
    cursor: pointer;
    text-align: center;
}
/* .body-message.answer .destroy-actions {
    position: absolute;
    left: 1px;
    top: 39px;
    width: 142px;
    background-color: grey;
    display: none;
} */

hr {
    background-color: black;
}

.destroy h3 {
    padding: 10px;
}
.destroy h3.delete:hover {
    background-color: red;
    color: white;
}
.destroy h3.info:hover {
    background-color: green;
    color: white;
}

.destroy i {
    position: absolute;
    top: 4px;
    right: 9px;
    font-size: 15px;
    cursor: pointer;
    display: none;
}

.arrow-right {
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #daf3c5;
    position: absolute;
    top: -1px;
    right: -9px;
    transform: rotate(-45deg);
}

.arrow-left {
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid white;
    position: absolute;
    top: -1px;
    left: -9px;
    transform: rotate(45deg);
}

.body-message span {
    font-size: 9px;
    position: absolute;
    bottom: 5px;
    right: 5px;
    color: grey;
}

.body-message.answer {
    background-color: white;
    float: left;
    position: relative;
    border-radius: 0 10px 10px 10px;
}

.footer-right {
    height: 60px;
    width: 100%;
    padding: 0 10px;
    display: flex;
    background-color: #f0f0f0;
}

.smile,
.mic {
    width: 5%;
    height: 100%;
    color: rgb(145, 145, 145);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    cursor: pointer;
}

.write-msg {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.write-msg input {
    width: 96%;
    border-radius: 20px;
    height: 40px;
    padding: 0 10px;
    outline: none;
    border: none;
}

.matrix-mode {
    background-color: black !important;
    color: rgb(0, 255, 115) !important;
}

.matrix {
    width: 100%;
    height: 100vh;
    background-color: black;
    font-size: 20px;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
}

.start-animation h1 {
    color: rgb(58, 214, 58);
    font-family: monospace;
    overflow: hidden; /* assicura che il contenuto venga rivelato all'animazione */
    border-right: 10px solid white; /* cursore */
    white-space: nowrap; /* mantiene il contenuto su una linea */
    /*margin: 0 auto; se lo voglio far partire dal centro*/
    letter-spacing: 10px;
    animation: scrivi 3.5s steps(30, end), lampeggia 0.5s step-end infinite;
}

/* effetto  */
@keyframes scrivi {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

/* effetto blink cursore */
@keyframes lampeggia {
    from,
    to {
        border-color: transparent;
    }
    50% {
        border-color: white;
    }
}

@media (max-width: 1400px) {
    .container {
        width: 100%;
        height: 100vh;
        left: 0;
        top: 0;
    }
}
