* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.bg-top {
    height: 15vh;
    width: 100%;
    background-color: #009688;
}
.bg-bottom {
    height: 85vh;
    width: 100%;
    background-color: #dadbd3;
}

.container {
    width: 72%;
    height: 96%;
    margin: auto;
    border: 3px solid black;
    position: fixed;
    top: 2%;
    left: 14%;
    display: flex;
}

.left-box {
    width: 30%;
}

.container-left {
    height: calc(100% - 120px);
    overflow-y: scroll;
}

.header-left {
    height: 120px;
    width: 100%;
}

.header-left-top {
    height: 60px;
    width: 100%;
    background-color: #ededed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    color: rgb(145, 145, 145);
}

.hlt-right i {
    padding: 0 15px;
    cursor: pointer;
}

.header-left-top svg {
    height: 40px;
    width: 40px;
    background-color: #ededed;
    cursor: pointer;
}
.header-left-bottom {
    height: 60px;
    width: 100%;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}

/* .header-left-bottom .search {
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: indigo;
} */

.header-left-bottom input {
    height: 35px;
    width: 100%;
    border: 1px solid white;
    border-right: none;
    border-left: none;
    font: 14px arial, sans-serif;
    outline: none;
    padding-left: 20px;
}

.header-left-bottom .search-left,
.header-left-bottom .search-right {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    border: 1px solid white;
    background-color: white;
    color: rgb(145, 145, 145);
}

.header-left-bottom .search-center {
    width: 100%;
}

.header-left-bottom .search-left {
    border-radius: 50% 0 0 50%;
    border-right: none;
}

.header-left-bottom .search-right {
    border-radius: 0 50% 50% 0;
    border-left: none;
}

.user-box {
    height: 70px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    background-color: white;
}

.user-img {
    border: 1px solid lightseagreen;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: linen;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
}

.user-img img {
    height: 40px;
}

.user-info {
    width: 82%;
    padding: 13px 0;
    border-bottom: 1px solid rgba(128, 128, 128, 0.13);
}

.name {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name div:first-child {
    font-size: 22px;
}
.name span {
    font-size: 10px;
    color: grey;
    text-align: right;
}

.message {
    color: grey;
}

.right-box {
    width: 70%;
    height: 100%;
}

.header-right {
    height: 60px;
    width: 100%;
    background-color: brown;
}

.body-right {
    height: calc(100% - 120px);
    width: 100%;
    background-color: indianred;
}

.footer-right {
    height: 60px;
    width: 100%;
    background-color: brown;
}

@media (max-width: 1400px) {
    .container {
        width: 100%;
        height: 100vh;
        left: 0;
        top: 0;
    }
}
